<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foodsales.mapper.ProductMapper">
    <select id="selectHotProducts" resultType="com.foodsales.model.Product">
        SELECT * FROM product WHERE status = 1 AND is_hot = 1 ORDER BY sales DESC LIMIT #{limit}
    </select>
    <select id="selectNewProducts" resultType="com.foodsales.model.Product">
        SELECT * FROM product WHERE status = 1 AND is_new = 1 ORDER BY create_time DESC LIMIT #{limit}
    </select>
    <select id="selectTopSales" resultType="com.foodsales.model.Product">
        SELECT * FROM product WHERE status = 1 ORDER BY sales DESC LIMIT #{limit}
    </select>
</mapper>